<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV show</title>
</head>
<body>
    <h1>Add a New Show</h1>
    <form action="new_show" method="get">
        <div>
            <p>Title</p>
                <input type="text" name="title" id="title">
        </div>
            <div>
            <div>
                <p>Network</p>
                    <input type="text" name="network" id="title">
            </div>
            <div>
                <p>Release Date</p>
                    <input type="text" name="release_date" id="title">
            </div>
        </div>
        <div>
            <p>Description</p>
                <input type="text" name="desc" id="title">
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>